node_modules
.env
/.yarn
deployments
utils/constants.ts

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

#Foundry files
lib/forge-std
cache_forge/
out/
contracts/cache/
